body
{
	font-family: 'Lato', sans-serif !important;
}

h1, h2
{
	margin-top: 0;
    margin-bottom: 0; 
}
.bien
{
	background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.mal
{
	background-image: -webkit-linear-gradient(132deg, #E64E6A 0%, #B93EAE 100%);
	background-image: -o-linear-gradient(132deg, #E64E6A 0%, #B93EAE 100%);
	background-image: linear-gradient(222deg, #E64E6A 0%, #B93EAE 100%);
}
.logo
{
	padding: 50px 0px 20px 0px;
	text-align: center;
}
.logo img
{
	max-width: 300px;
}
.preguntas
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#121656+0,2b2e91+100 */
	background: #121656; /* Old browsers */
	background: -moz-linear-gradient(top,  #121656 0%, #2b2e91 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #121656 0%,#2b2e91 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #121656 0%,#2b2e91 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121656', endColorstr='#2b2e91',GradientType=0 ); /* IE6-9 */

	border: 5px solid #FFF;
	border-radius: 30px;
	margin-bottom: 30px;
	padding: 25px;
	text-align: center;
}
.preguntas h2
{
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
}
.respuestas{
	text-align: center;
}
.respuestas div
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#121656+0,2b2e91+100 */
	background: #121656; /* Old browsers */
	background: -moz-linear-gradient(top,  #121656 0%, #2b2e91 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #121656 0%,#2b2e91 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #121656 0%,#2b2e91 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121656', endColorstr='#2b2e91',GradientType=0 ); /* IE6-9 */

	border: 3px solid #FFF;
	border-radius: 30px;
	margin-bottom: 15px;
	
}

.respuestas div:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
	background: #ffb76b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */

}
.respuestas h4 a
{

	color: #fff;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;

}
.felicidades
{
	font-size: 55px;
	color: #fff;
	font-weight: 100;
	font-style: italic;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 50px;
}
.iniciar
{
	padding: 15px 25px;
	color: white;
	font-size: 12px;
	border-radius: 4px;
	letter-spacing: 1px;
	font-weight: 200;
	text-transform: uppercase;
	background-image: -webkit-linear-gradient(126deg, #0B82FF 0%, #2AC1CF 100%);
	background-image: -o-linear-gradient(126deg, #0B82FF 0%, #2AC1CF 100%);
	background-image: linear-gradient(216deg, #0B82FF 0%, #2AC1CF 100%);
}
.iniciar:hover
{
	color: white;
	text-decoration: none;
	background-image: -webkit-linear-gradient(126deg, #0B82FF 0%, #0B82FF 100%);
	background-image: -o-linear-gradient(126deg, #0B82FF 0%, #0B82FF 100%);
	background-image: linear-gradient(216deg, #0B82FF 0%, #0B82FF 100%);
}
